html(class="no-js", ng-app="main")
  head
    base(href="/")
    title(ng-bind-template="Mixtape-Melon") Mixtape-Melon

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=1")
    meta(name="description", content="Timesheet Demo Application")

    - if (env == 'production')
      link(href="/assets/css/style.min.css", rel="stylesheet", type="text/css")
    - else
      link(href="/assets/css/style.css", rel="stylesheet", type="text/css")

  body(ng-controller="MainCtrl")
    .container
      .row.text-centered
        #screen

    case env
      when 'production'
        script(src="assets/js/app.min.js")
      when 'debug'
        script(src="assets/js/app.js")
      default
        // dependencies
        script(src='dist/assets/js/deps.js')

        each script in applicationScripts
          script(src=script)

        script(src='assets/templates/main.templates.js')
