html(class="no-js", ng-app="main")
  head
    base(href="/")
    title() shadow-illusion

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=1")
    meta(name="description", content="Shadow Illusion Game")

    case env
      when 'production'
        link(href="/assets/css/style.min.css", rel="stylesheet", type="text/css")
      when 'gh'
        link(href="/shadow-illusion/assets/css/style.css", rel="stylesheet", type="text/css")
      default
        link(href="/assets/css/style.css", rel="stylesheet", type="text/css")

  body(ng-controller="MainCtrl")
    .container
      .row.text-centered
        #screen

    case env
      when 'production'
        script(src="assets/js/app.min.js")
      when 'debug'
        script(src="assets/js/app.js")
      when 'gh'
        // dependencies
        script(src='/shadow-illusion/dist/assets/js/deps.js')

        each script in applicationScripts
          script(src='/shadow-illusion/' + script)

        script(src='/shadow-illusion/assets/templates/main.templates.js')
        
      default
        // dependencies
        script(src='dist/assets/js/deps.js')

        each script in applicationScripts
          script(src=script)

        script(src='assets/templates/main.templates.js')
