case env
  when 'production'
    script(src="assets/js/app.min.js")
  when 'debug'
    script(src="assets/js/app.js")
  default

    // dependencies
    script(src='dist/assets/js/deps.js')

    each script in applicationScripts
      script(src=script)

    script(src='assets/templates/main.templates.js')
